.imagen-porta-arqui{
    width: 100%;
    height: auto;

}

div.cont-porta{

    background-color: #193441;
    /*margin-top: -20px;*/

    color: #11BFAE;
    border-color: #101010;
    border-style: solid;
    border-width: 1px;
}

h5.up-inter{
    margin-top: -10px;
}

.interlineado{
    margin-top: -25px;
}