/**Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) {
    .textoH2Servicio{
        font-size:12px;
    }
    .textoH3Servicio{
        font-size:8px;
    }
    .informationText{
        font-size: 6px;
    }
}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    .textoH2Servicio{
        font-size:16px;
    }
    .textoH3Servicio{
        font-size:12px;
    }
    .informationText{
        font-size: 8px;
    }
}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
    .textoH2Servicio{
        font-size:18px;
    }
    .textoH3Servicio{
        font-size:15px;
    }
    .informationText{
        font-size: 10px;
    }
}

/** Extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) {
    .textoH2Servicio{
        font-size:3rem;
    }
    .textoH3Servicio{
        font-size:2.5rem;
    }
    .informationText{
        font-size: 2rem;
    }
}
.textoServicio{

}
.informationText{
    text-decoration: none;
    color: #FFFFFF;

}
.img-responsive-opacity{
    width: 100%;
    height: auto;
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*contenedor-img-1*/
.contenedor-img-1 {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #193441;
}
.contenedor-img-1 .mascara,.contenedor-img .contenido {
    width: 30%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.contenedor-img-1 img {
    display: block;
    position: relative;
}
.slide-1 img {
    transition: all 0.4s ease-in-out;
}
.mascara {
    background-color: rgba(25,52,65,0.8);
    transform: translateX(-100%);/*Desplazamos 300px a la izquierda*/
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.slide-1:hover .mascara {
    transform: translateX(0px);/*Regresamos a su posicioón original*/
}
.slide-1:hover img {
    opacity: 1;
}
/*Fin contenedor-img-1 */
/*contenedor-img-2 */
.contenedor-img-2 {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #193441;
}
.contenedor-img-2 .mascara-2,.contenedor-img-2 .contenido-2 {
    width: 30%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
}
.contenedor-img-2 img {
    display: block;
    position: relative;
}
.slide-1-1 img {
    transition: all 0.4s ease-in-out;
}
.mascara-2 {
    background-color: rgba(25,52,65,0.8);
    transform: translateX(100%);/*Desplazamos 100% a la derecha*/
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.slide-1-1:hover .mascara-2 {
    transform: translateX(0px);/*Regresamos a su posicioón original*/
}
.slide-1-1:hover img {
    opacity: 1;
}
/*Fin contenedor-img-2 */
.informacion-servicio{
    border: 3px solid white;
    border-radius: 40%;
    text-decoration: none;
    color: white;
    padding: 2px 20px;
}

.icons-porta{
    background-color: #000000;
    width: 100px;
    height: auto;
}

div#servicios{
    background-image: url("../img/arquitectura/bigspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ajuste-servicios{
    margin-top: 10px;
}