html, body{
    padding: 0;
    margin: 0;
    background-color: #193441;
}
body{
    min-width: 340px !important;
}
/* Small devices (landscape phones, 100px and up) */
@media (min-width: 320px) {
    div-imagen{
        height: 515px;
    }
    mobil-only{
        display: block;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        left:0;
        padding:10px;

    }
    h2#arquitectura{
        top: 150px;
        left: 0;
    }

    h2#diseniografico{
        top: 150px;
        left: 0;
    }

    h2#desarrolloweb{
        top: 150px;
        left: 0;
    }
    h2#promociones{
        top: 150px;
        left: 0;
    }
    .carousel-cell {
        width: 100%;
        height: 100%;
    }
    .carousel2 img {
        width: 100%;
        height: auto;
    }
    .carousel2 {
        height: 480px;
    }
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 360px) {
    div-imagen{
        height: 540px;
    }
    mobil-only{
        display: block;
    }
    h2#arquitectura{
        top: 150px;
    }
    h2#diseniografico{
        top: 150px;
    }
    h2#desarrolloweb{
        top: 150px;
    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        margin:0;
    }
    .carousel-cell {
        width: 100%;
        height: 100%;
    }
    .carousel2 img {
        width: auto;
        height: 100%;
    }
    .carousel2 {
        height: 490px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 600px) {
    h2#arquitectura{
        top: 20%;
    }
    mobil-only{
        display: block;
    }
    h2#diseniografico{
        top: 20%;
        width: 100%;
    }
    h2#desarrolloweb{
        top: 20%;
        width: 100%;
    }
    h2#promociones{
        top: 40%;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        left:0;
        padding:10px;
    }
    .div-imagen > div h4 {
        font-size: 200%;
    }
    h2 span{
        font-size: 200%;
    }
    .carousel-cell {
        width: 85%;
        height: 100%;
    }
    .carousel2 img {
        width: auto;
        height: 100%;
    }
    .carousel2 {
        height: 600px;
    }
}
@media (max-width: 1023px) {
#hideThis{
    display: none;
}
    mobil-only{
        display: none;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2#arquitectura{
        top: 150px;
    }

    h2#diseniografico{
        top: 150px;

    }

    h2#desarrolloweb{
        top: 150px;

    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {
        top:35%;
        left:0;
        padding:10px;
        width: 100%;
    }
    .div-imagen > div h4 {
        font-size: 100%;
    }
    h2 span{
        font-size: 100%;
    }
    .carousel-cell {
        width: 66%;
        height: 100%;
    }
    .carousel2 img {
        height: 100%;
        width: auto;
    }
    .carousel2 {
        height: 600px;
    }
    mobil-only{
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h2#arquitectura{
        top: 150px;
    }

    h2#diseniografico{
        top: 150px;

    }

    h2#desarrolloweb{
        top: 150px;

    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {

        top:35%;
        left:0;
        width: 100%;
        padding:10px;
    }
    .div-imagen > div h4 {
        font-size: 150%;
    }
    h2 span{
        font-size: 100%;
    }
    .carousel-cell {
        position: relative;
        width: 66%;
        height: 100%;
    }
    .carousel2 img {
        height: 100%;
        width: auto;
    }
    .carousel2 {
        height: 700px;
    }
    mobil-only{
        display: none;
    }
}
nav{
 background-color: snow;
}
div#services{
    background-color: #2A2C2B;
    color: #ffffff;
}

div#info{
    margin-top: -25px;
    background-color: #2A2C2B;
    color: #ffffff;
}

div#team{
    color: #ffffff;
}

#team img{
    width: 75%;
    height: auto;
}

div#services2{
    margin-left: 6%;
}


#logoColorSpace{
    height:80px;
    margin-top:-15px;
}

#logoColorSpace2{
    height:80px;
    margin-top:-35px;
}

#redes{

    margin-right: 7%;
}

#seccionFooter{
    margin-left: 7%;
}

#redes a:link{
    color: #ffffff;
}

.btn-color{
    background-color: #08BFBB;
}

.teal-text{
    color: #08BFBB;
}

div#myModal{
    margin-top: 50px;
}

#arqui img{
    width: 80%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#arqui img:hover{
    opacity: 1;
}

div#luminaria{
    background-image: url("../img/arquitectura/luminaria.jpg");

}

.arreglo1{
    width: 100%;
    height: auto;
}

.arreglo12{
    width: 132%;
    height: auto;
}

.arreglo2{
    width: 132%;
    height: auto;
    margin-left: -30px;
}

div#moreinfo{
    background-image: url("../img/arquitectura/bigspace.jpg");
    height: 300px;
}

.prueba1 {
    margin-top: -280px;
    width: 200px;
    background-image: url("../img/arquitectura/bigspace.jpg");
    height: 280px;
    transition: all 1s ease;
}
.prueba1:hover{
    width: 100%;
    transition: all 1s ease;
}

img#maqueta2{

    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover#maqueta2{
    opacity: 1;
}

.div-imagen {
    background-size: cover;
    display:inline-block;
    position:relative;
}

.div-imagen > div {
    position:absolute;
    z-index:-1;
    margin:0;
}

.desvanecer:hover {
    opacity: 0.5;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.inicio{
    width: 110%;
    height: auto;
}

.white-text{
    color: white;
}

.black-text{
    color: #000000;
}

h2#arquitectura{
    position: absolute;
    left: 0;
    width: 100%;
}

h2#diseniografico{
    position: absolute;
    left: 0;
    width: 100%;
}

h2#desarrolloweb{
    position: absolute;
    left: 0;
    width: 100%;
}
h2#promociones{
    position: absolute;
    left: 0;
    width: 100%;
}

h2 span{
    color: white;
    letter-spacing: -1px;
    padding: 10px;
}

/* external css: flickity.css */

*{box-sizing: border-box}

.carousel2 {
    background: white;

}

.carousel-cell {
    margin: 0;
    padding: 0;
}
.carousel2 img {
    display: block;
    margin: 0;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 600px;
    font-size: 80px;
    color: white;
}
.centrado-slider{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
a:hover{
    text-decoration: none;
}
div .texto-slider{
    padding: 5px;
}
.texto-slider{
    width: 95%;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width:760px){.mdl-logo{float:left;margin-bottom:0;margin-right:16px}}.mdl-mini-footer{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding:32px 16px;color:#9e9e9e;background-color:#424242}.mdl-mini-footer:after{content:'';display:block}.mdl-mini-footer .mdl-logo{line-height:36px}.mdl-mini-footer--link-list,.mdl-mini-footer__link-list{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;list-style:none;margin:0;padding:0}.mdl-mini-footer--link-list li,.mdl-mini-footer__link-list li{margin-bottom:0;margin-right:16px}@media screen and (min-width:760px){.mdl-mini-footer--link-list li,.mdl-mini-footer__link-list li{line-height:36px}}.mdl-mini-footer--link-list a,.mdl-mini-footer__link-list a{color:inherit;text-decoration:none;white-space:nowrap}.mdl-mini-footer--left-section,.mdl-mini-footer__left-section{display:inline-block;-webkit-order:0;-ms-flex-order:0;order:0}.mdl-mini-footer--right-section,.mdl-mini-footer__right-section{display:inline-block;-webkit-order:1;-ms-flex-order:1;order:1}.mdl-mini-footer--social-btn,.mdl-mini-footer__social-btn{width:36px;height:36px;padding:0;margin:0;background-color:#9e9e9e;border:none}
.mdl-textfield{position:relative;font-size:16px;display:inline-block;box-sizing:border-box;width:300px;max-width:100%;margin:0;padding:20px 0}.mdl-textfield .mdl-button{position:absolute;bottom:20px}.mdl-textfield--align-right{text-align:right}.mdl-textfield--full-width{width:100%}.mdl-textfield--expandable{min-width:32px;width:auto;min-height:32px}.mdl-textfield--expandable .mdl-button--icon{top:16px}.mdl-textfield__input{border:none;border-bottom:1px solid rgba(0,0,0,.12);display:block;font-size:16px;font-family:"Helvetica","Arial",sans-serif;margin:0;padding:4px 0;width:100%;background:0 0;text-align:left;color:inherit}.mdl-textfield__input[type="number"]{-moz-appearance:textfield}.mdl-textfield__input[type="number"]::-webkit-inner-spin-button,.mdl-textfield__input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.mdl-textfield.is-focused .mdl-textfield__input{outline:none}.mdl-textfield.is-invalid .mdl-textfield__input{border-color:#d50000;box-shadow:none}fieldset[disabled] .mdl-textfield .mdl-textfield__input,.mdl-textfield.is-disabled .mdl-textfield__input{background-color:transparent;border-bottom:1px dotted rgba(0,0,0,.12);color:rgba(0,0,0,.26)}.mdl-textfield textarea.mdl-textfield__input{display:block}.mdl-textfield__label{bottom:0;color:rgba(0,0,0,.26);font-size:16px;left:0;right:0;pointer-events:none;position:absolute;display:block;top:24px;width:100%;overflow:hidden;white-space:nowrap;text-align:left}.mdl-textfield.is-dirty .mdl-textfield__label,.mdl-textfield.has-placeholder .mdl-textfield__label{visibility:hidden}.mdl-textfield--floating-label .mdl-textfield__label{transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1)}.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{transition:none}fieldset[disabled] .mdl-textfield .mdl-textfield__label,.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label{color:rgba(0,0,0,.26)}.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{color:rgb(158,158,158);font-size:12px;top:4px;visibility:visible}.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label{top:-16px}.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{color:#d50000;font-size:12px}.mdl-textfield__label:after{background-color:rgb(158,158,158);bottom:20px;content:'';height:2px;left:45%;position:absolute;transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1);visibility:hidden;width:10px}.mdl-textfield.is-focused .mdl-textfield__label:after{left:0;visibility:visible;width:100%}.mdl-textfield.is-invalid .mdl-textfield__label:after{background-color:#d50000}.mdl-textfield__error{color:#d50000;position:absolute;font-size:12px;margin-top:3px;visibility:hidden;display:block}.mdl-textfield.is-invalid .mdl-textfield__error{visibility:visible}.mdl-textfield__expandable-holder{display:inline-block;position:relative;margin-left:32px;transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1);display:inline-block;max-width:.1px}.mdl-textfield.is-focused .mdl-textfield__expandable-holder,.mdl-textfield.is-dirty .mdl-textfield__expandable-holder{max-width:600px}.mdl-textfield__expandable-holder .mdl-textfield__label:after{bottom:0}.mdl-textfield--floating-label .mdl-textfield__label{transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1)}.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{transition:none}fieldset[disabled] .mdl-textfield .mdl-textfield__label,.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label{color:rgba(0,0,0,.26)}.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{color:rgb(158,158,158);font-size:12px;top:4px;visibility:visible}.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label{top:-16px}.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{color:#d50000;font-size:12px}
.mdl-textfield__input{border:none;border-bottom:1px solid rgba(0,0,0,.12);display:block;font-size:16px;font-family:"Helvetica","Arial",sans-serif;margin:0;padding:4px 0;width:100%;background:0 0;text-align:left;color:inherit}.mdl-textfield__input[type="number"]{-moz-appearance:textfield}.mdl-textfield__input[type="number"]::-webkit-inner-spin-button,.mdl-textfield__input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.mdl-textfield.is-focused .mdl-textfield__input{outline:none}.mdl-textfield.is-invalid .mdl-textfield__input{border-color:#d50000;box-shadow:none}fieldset[disabled] .mdl-textfield .mdl-textfield__input,.mdl-textfield.is-disabled .mdl-textfield__input{background-color:transparent;border-bottom:1px dotted rgba(0,0,0,.12);color:rgba(0,0,0,.26)}.mdl-textfield textarea.mdl-textfield__input{display:block}.mdl-textfield__label{bottom:0;color:rgba(0,0,0,.26);font-size:16px;left:0;right:0;pointer-events:none;position:absolute;display:block;top:24px;width:100%;overflow:hidden;white-space:nowrap;text-align:left}.mdl-textfield.is-dirty .mdl-textfield__label,.mdl-textfield.has-placeholder .mdl-textfield__label{visibility:hidden}.mdl-textfield--floating-label .mdl-textfield__label{transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1)}.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{transition:none}fieldset[disabled] .mdl-textfield .mdl-textfield__label,.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label{color:rgba(0,0,0,.26)}.mdl-textfield--floating-label.is-focused .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{color:rgb(158,158,158);font-size:12px;top:4px;visibility:visible}.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label,.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder .mdl-textfield__label{top:-16px}.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{color:#d50000;font-size:12px}.mdl-textfield__label:after{background-color:rgb(158,158,158);bottom:20px;content:'';height:2px;left:45%;position:absolute;transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1);visibility:hidden;width:10px}.mdl-textfield.is-focused .mdl-textfield__label:after{left:0;visibility:visible;width:100%}.mdl-textfield.is-invalid .mdl-textfield__label:after{background-color:#d50000}.mdl-textfield__error{color:#d50000;position:absolute;font-size:12px;margin-top:3px;visibility:hidden;display:block}.mdl-textfield.is-invalid .mdl-textfield__error{visibility:visible}.mdl-textfield__expandable-holder{display:inline-block;position:relative;margin-left:32px;transition-duration:.2s;transition-timing-function:cubic-bezier(.4,0,.2,1);display:inline-block;max-width:.1px}.mdl-textfield.is-focused .mdl-textfield__expandable-holder,.mdl-textfield.is-dirty .mdl-textfield__expandable-holder{max-width:600px}.mdl-textfield__expandable-holder .mdl-textfield__label:after{bottom:0}.mdl-button,.mdl-card,.mdl-checkbox,.mdl-dropdown-menu,.mdl-icon-toggle,.mdl-item,.mdl-radio,.mdl-slider,.mdl-switch,.mdl-tabs__tab{-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:rgba(255,255,255,0)}.mdl-button--accent.mdl-button--accent{color:rgb(83,109,254)}.mdl-button--accent.mdl-button--accent .mdl-ripple{background:rgb(255,255,255)}.mdl-button--accent.mdl-button--accent.mdl-button--raised,.mdl-button--accent.mdl-button--accent.mdl-button--fab{color:rgb(255,255,255);background-color:rgb(83,109,254)}
.mdl-button--raised{background:rgba(158,158,158,.2);box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)}.mdl-button--raised:active{box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);background-color:rgba(158,158,158,.4)}.mdl-button--raised:focus:not(:active){box-shadow:0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);background-color:rgba(158,158,158,.4)}.mdl-button--raised.mdl-button--colored{background:rgb(158,158,158);color:rgb(66,66,66)}.mdl-button--raised.mdl-button--colored:hover{background-color:rgb(158,158,158)}.mdl-button--raised.mdl-button--colored:active{background-color:rgb(158,158,158)}.mdl-button--raised.mdl-button--colored:focus:not(:active){background-color:rgb(158,158,158)}.mdl-button--raised.mdl-button--colored .mdl-ripple{background:rgb(66,66,66)}.mdl-button--fab{border-radius:50%;font-size:24px;height:56px;margin:auto;min-width:56px;width:56px;padding:0;overflow:hidden;background:rgba(158,158,158,.2);box-shadow:0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);position:relative;line-height:normal}.mdl-button--fab .material-icons{position:absolute;top:50%;left:50%;-webkit-transform:translate(-12px,-12px);transform:translate(-12px,-12px);line-height:24px;width:24px}.mdl-button--fab.mdl-button--mini-fab{height:40px;min-width:40px;width:40px}.mdl-button--fab .mdl-button__ripple-container{border-radius:50%;}.mdl-button--fab:active{box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);background-color:rgba(158,158,158,.4)}.mdl-button--fab:focus:not(:active){box-shadow:0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);background-color:rgba(158,158,158,.4)}.mdl-button--fab.mdl-button--colored{background:rgb(83,109,254);color:rgb(255,255,255)}.mdl-button--fab.mdl-button--colored:hover{background-color:rgb(83,109,254)}.mdl-button--fab.mdl-button--colored:focus:not(:active){background-color:rgb(83,109,254)}.mdl-button--fab.mdl-button--colored:active{background-color:rgb(83,109,254)}.mdl-button--fab.mdl-button--colored .mdl-ripple{background:rgb(255,255,255)}.mdl-button--icon{border-radius:50%;font-size:24px;height:32px;margin-left:0;margin-right:0;min-width:32px;width:32px;padding:0;overflow:hidden;color:inherit;line-height:normal}.mdl-button--icon .material-icons{position:absolute;top:50%;left:50%;-webkit-transform:translate(-12px,-12px);transform:translate(-12px,-12px);line-height:24px;width:24px}.mdl-button--icon.mdl-button--mini-icon{height:24px;min-width:24px;width:24px}.mdl-button--icon.mdl-button--mini-icon .material-icons{top:0;left:0}.mdl-button--icon .mdl-button__ripple-container{border-radius:50%}.mdl-button__ripple-container{display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:0;overflow:hidden}.mdl-button[disabled] .mdl-button__ripple-container .mdl-ripple,.mdl-button.mdl-button--disabled .mdl-button__ripple-container .mdl-ripple{background-color:transparent}.mdl-button--primary.mdl-button--primary{color:rgb(158,158,158)}.mdl-button--primary.mdl-button--primary .mdl-ripple{background:rgb(66,66,66)}.mdl-button--primary.mdl-button--primary.mdl-button--raised,.mdl-button--primary.mdl-button--primary.mdl-button--fab{color:rgb(66,66,66);background-color:rgb(158,158,158)}.mdl-button--accent.mdl-button--accent{color:rgb(83,109,254)}.mdl-button--accent.mdl-button--accent .mdl-ripple{background:rgb(255,255,255)}.mdl-button--accent.mdl-button--accent.mdl-button--raised,.mdl-button--accent.mdl-button--accent.mdl-button--fab{color:rgb(255,255,255);background-color:rgb(83,109,254)}.mdl-button[disabled][disabled],.mdl-button.mdl-button--disabled.mdl-button--disabled{color:rgba(0,0,0,.26);cursor:default;background-color:transparent}.mdl-button--fab[disabled][disabled],.mdl-button--fab.mdl-button--disabled.mdl-button--disabled{background-color:rgba(0,0,0,.12);color:rgba(0,0,0,.26)}.mdl-button--raised[disabled][disabled],.mdl-button--raised.mdl-button--disabled.mdl-button--disabled{background-color:rgba(0,0,0,.12);color:rgba(0,0,0,.26);box-shadow:none}