html, body{
    padding: 0;
    margin: 0;
    background-color: #193441;
}
body{
    min-width: 340px;
}
/* Small devices (landscape phones, 100px and up) */
@media (min-width: 320px) {
    div-imagen{
        height: 515px;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        left:0%;
        padding:10px;

    }
    h2#arquitectura{
        top: 150px;
        left: 0%;
    }

    h2#diseniografico{
        top: 150px;
        left: 0%;
    }

    h2#desarrolloweb{
        top: 150px;
        left: 0%;
    }
    h2#promociones{
        top: 150px;
        left: 0%;
    }
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 360px) {
    div-imagen{
        height: 540px;
    }
    h2#arquitectura{
        top: 150px;
    }
    h2#diseniografico{
        top: 150px;
    }
    h2#desarrolloweb{
        top: 150px;
    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        margin:0;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 600px) {
    h2#arquitectura{
        top: 20%;
    }
    h2#diseniografico{
        top: 20%;
        width: 100%;
    }
    h2#desarrolloweb{
        top: 20%;
        width: 100%;
    }
    h2#promociones{
        top: 40%;
    }
    .div-imagen > div {
        width: 100%;
        top:35%;
        left:0%;
        padding:10px;
    }
    .div-imagen > div h4 {
        font-size: 200%;
    }
    h2 span{
        font-size: 200%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2#arquitectura{
        top: 150px;
    }

    h2#diseniografico{
        top: 150px;

    }

    h2#desarrolloweb{
        top: 150px;

    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {
        top:35%;
        left:0%;
        padding:10px;
        width: 100%;
    }
    .div-imagen > div h4 {
        font-size: 100%;
    }
    h2 span{
        font-size: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h2#arquitectura{
        top: 150px;
    }

    h2#diseniografico{
        top: 150px;

    }

    h2#desarrolloweb{
        top: 150px;

    }
    h2#promociones{
        top: 150px;
    }
    .div-imagen > div {

        top:35%;
        left:0%;
        width: 100%;
        padding:10px;
    }
    .div-imagen > div h4 {
        font-size: 150%;
    }
    h2 span{
        font-size: 100%;
    }
}
nav{
 background-color: snow;
}
div#services{
    background-color: #2A2C2B;
    color: #ffffff;
}

div#info{
    margin-top: -25px;
    background-color: #2A2C2B;
    color: #ffffff;
}

div#team{
    color: #ffffff;
}

#team img{
    width: 75%;
    height: auto;
}

div#services2{
    margin-left: 6%;
}


#logoColorSpace{
    height:80px;
    margin-top:-15px;
}

#logoColorSpace2{
    height:80px;
    margin-top:-35px;
}

#redes{

    margin-right: 7%;
}

#seccionFooter{
    margin-left: 7%;
}

#redes a:link{
    color: #ffffff;
}

.btn-color{
    background-color: #08BFBB;
}

.teal-text{
    color: #08BFBB;
}

div#myModal{
    margin-top: 50px;
}

#arqui img{
    width: 80%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#arqui img:hover{
    opacity: 1;
}

div#luminaria{
    background-image: url("../img/arquitectura/luminaria.jpg");

}

.arreglo1{
    width: 100%;
    height: auto;
}

.arreglo12{
    width: 132%;
    height: auto;
}

.arreglo2{
    width: 132%;
    height: auto;
    margin-left: -30px;
}

div#moreinfo{
    background-image: url("../img/arquitectura/bigspace.jpg");
    height: 300px;
}

.prueba1 {
    margin-top: -280px;
    width: 200px;
    background-image: url("../img/arquitectura/bigspace.jpg");
    height: 280px;
    transition: all 1s ease;
}
.prueba1:hover{
    width: 100%;
    transition: all 1s ease;
}

img#maqueta2{

    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover#maqueta2{
    opacity: 1;
}

.div-imagen {
    background-size: cover;
    display:inline-block;
    position:relative;
}

.div-imagen > div {
    position:absolute;
    z-index:-1;
    margin:0;
}

.desvanecer:hover {
    opacity: 0.5;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.inicio{
    width: 110%;
    height: auto;
}

.white-text{
    color: white;
}

.black-text{
    color: #000000;
}

h2#arquitectura{
    position: absolute;
    left: 0%;
    width: 100%;
}

h2#diseniografico{
    position: absolute;
    left: 0%;
    width: 100%;
}

h2#desarrolloweb{
    position: absolute;
    left: 0%;
    width: 100%;
}
h2#promociones{
    position: absolute;
    left: 0%;
    width: 100%;
}

h2 span{
    color: white;
    letter-spacing: -1px;
    padding: 10px;
}